<h1>Add Works!</h1>


<form method='POST' , action='/todos/add' )>

    <label for="todo_title">Todo title</label>
    <input type="text" name="todo_title" id="todo-title" value="" required>

    <label for="todo_body">Todo title</label>
    <textarea name="todo_body" id="todo-body" rows="4" cols="50">
    </textarea>

    <input type="checkbox" id="todo-iscompleted" name="is_completed" checked="checked" />

    <button type=" submit" class="btn btn-success float-right">Add Todo</button>

</form>
</a>